@import "~modern-css-reset";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

:root {
  --brand-font-family: 'Space Grotesk', sans-serif;
  --brand-primary-color: #D60270;
  --brand-secondary-color: #0038A8;
  --brand-background-color: #FFF;
}
